<div class="container__content">
  <div class="content__cover">
    <img src="{{ picCover }}" alt="" srcset="" />
  </div>

  <div class="content__title">
    <h1>{{ contentTitle }}</h1>
  </div>

  <div class="container__description">
    <div class="content__description">
      <p>{{ contentDescription }}</p>
      <img src="{{ contentPic }}" alt="" srcset="" />
    </div>

    <hr />

    <div class="content__description__second">
      <p>{{ secondDescription }}</p>
    </div>
  </div>

  <button [routerLink]="['']"><< BACK</button>
</div>
