* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: cursive;
}

a{
  text-decoration: none;
}



body{
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,0.9192927170868347) 0%, rgba(70,16,2,1) 20%, rgba(43,18,1,1) 100%);
}
