<div class="container__big-card">
  <div class="big-card__pic" id="imageModalTrigger">
    <img
      src="{{ picCover }}"
      alt=""
      height="200px"
      width="405px"
      srcset="">
  </div>

  <div class="big-card__title">
    <h1><a [routerLink]="['content', Id]">{{ cardTitle }}</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
        {{ cardDescription }}
      </a>
    </p>
  </div>
</div>

<div class="modal" id="imageModal">
  <div class="modal-content">
    <span class="close" id="closeModal">&times;</span>
    <img src="{{ picCover }}" alt="Imagem em modal">
  </div>
</div>
